// ----------------------------------------------------------
// 1-SETTINGS: global settings, configuration, brand colors, etc.
// ----------------------------------------------------------

$fa-font-path: "~font-awesome/fonts";

$brand-primary: #08546d;
$brand-warning: #f9b031;
$brand-danger:  #ef6756;
$brand-info:    #65c7d6;
